@media (max-width: 991.98px) {
   header.hide-nav {
      transform: translateY(0) !important;
   }

   .navigation-container {
      flex-direction: row-reverse;
      gap: 30px;
   }

   .navigation {
      display: flex;
      align-items: center;
   }

   /* Toggle Nav */

   .ToggleButton {
      background: transparent;
      border: 0;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      transition: all 0.3s ease-in-out;
      padding: 0;
      position: relative;
      z-index: 2;
   }

   .ToggleButton:focus {
      box-shadow: none;
   }

   .ToggleButton span {
      display: block;
      width: 24px;
      height: 2px;
      background: var(--clr-primary);
      transition: all 0.3s ease-in-out;
      z-index: 3;
   }

   .ToggleButton span:nth-child(2) {
      width: 16px;
   }

   .ToggleButton[aria-expanded="true"] span {
      background: var(--clr-white);
   }

   .ToggleButton[aria-expanded="true"]+#SideNav {
      transform: translateX(0);
   }

   .ToggleButton[aria-expanded="true"] span:first-child {
      transform: rotate(-45deg);
      top: 6px;
      position: relative;
   }

   .ToggleButton[aria-expanded="true"] span:nth-child(2) {
      opacity: 0;
   }

   .ToggleButton[aria-expanded="true"] span:nth-child(3) {
      transform: rotate(45deg);
      top: -8px;
      position: relative;
   }

   #sideaNav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      background: #fff;
      width: 60%;
      box-shadow: 0 0 10px rgb(0 0 0 / 15%);
      display: block;
      z-index: 99;
      transform: translateX(-101%);
      transition: all 0.3s ease-in-out;
   }

   .ToggleButton[aria-expanded="true"]+#sideaNav {
      transform: translateX(0);
   }

   .nav-overlay {
      position: fixed;
      top: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 1;
      width: 100%;
      height: 100vh;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
   }

   .ToggleButton[aria-expanded="true"] .nav-overlay {
      opacity: 1;
      visibility: visible;
   }

   .sidenav-logo {
      display: flex;
      padding: 20px;
      background: var(--clr-lightbg);
   }

   .sidenav-logo img {
      width: 200px;
   }

   #sideaNav .navbar-nav {
      margin: 0 !important;
      height: 100%;
      gap: 15px;
      overflow: auto;
      padding: 20px 0;
      align-items: flex-start;
   }

   #sideaNav .navbar-nav .nav-item {
      padding: 0 20px;
   }

   .navbar-nav .nav-link {
      color: var(--clr-dark);
   }

   /* Toggle Nav */

   .top-banner {
      padding-bottom: 30px;
   }

   .banner-details {
      margin-bottom: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .custom-space {
      padding: 50px 0;
   }

   .PremiumCannabis-wrapper {
      padding: 160px 0 50px;
   }

   .QProduct {
      margin-bottom: 120px;
   }

   .PremiumCannabis-wrapper .sectionInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}


@media (max-width: 767.98px) {

   header .navbar {
      padding: 15px 0;
   }

   .sidenav-logo img {
      width: 150px;
   }

   .banner-details h6 {
      font-size: 14px;
   }

   .banner-details h1 {
      font-size: 28px;
   }

   .banner-thumb img {
      width: 100px;
   }

   .banner-details {
      margin-bottom: 80px;
   }

   .navbar-brand img {
      width: 90px;
      min-width: 90px;
   }

   .about-quality {
      text-align: center;
   }

   .about-quality h4 {
      font-size: 18px;
      margin: 0 0 10px;
   }

   .about-quality p {
      font-size: 16px;
      margin: 0 0 20px;
   }

   .HQ-thumb {
      display: none;
   }

   .HighestQuality {
      margin: 0;
   }

   .HQ-Info {
      width: 100%;
      justify-content: center;
   }

   .sectionInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .custom-space {
      padding: 30px 0;
   }

   .PremiumCannabis-wrapper {
      padding: 160px 0 50px;
   }

   .QProduct .qLogo {
      max-width: 300px;
   }

   .QProduct .product-img {
      width: 130px;
   }

   .sectionInfo h2 {
      font-size: 24px;
   }

   .AboutProduct .drop-info {
      position: relative;
      top: -30px;
      right: -15px;
   }

   .social-links .social {
      gap: 16px 20px;
      flex-wrap: wrap;
   }

   .Verification-body-wrapper .PopContent h2 {
      font-size: 34px;
   }

   .Verification-body-wrapper .PopContent h6 {
      font-size: 18px;
   }

   .instaFeed .eapps-instagram-feed-posts-view.eui-slider-slide {
      padding: 0;
   }

   .verifyInput input {
      min-height: 50px;
   }

   .verifyInput .ThemeBtn {
      min-height: 40px;
   }

   .footer-row .brandLogo img {
      max-width: 150px;
   }
}

@media (max-width: 320px) {
   .banner-details h1 {
      font-size: 24px;
      margin: 0 0 15px;
   }

   .banner-details h6 {
      margin: 0 0 15px;
   }
}