@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --clr-primary: #342642;
  --clr-white: #fff;
  --clr-light: #d9d9d9;
  --clr-dark: #111;
  --clr-gray: #172428;
  --clr-border: #261936;
}

body {
  overflow-x: hidden;
  font-size: 14px;
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-size: 16px;
  margin: 0 0 15px;
  color: var(--clr-light);
  line-height: 26px;
}

a {
  font-size: 16px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--clr-white);
}

a:hover {
  text-decoration: none;
  color: var(--clr-white);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

section {
  position: relative;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  padding: 25px 0;
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.headroom--pinned {
  transform: translateY(0%);
}

header .navbar {
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.header-nav {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-brand img {
  width: 100px;
  min-width: 100px;
}

.navigation {
  display: flex;
  gap: 30px;
  flex: 1;
}

#sideaNav {
  justify-content: center;
}

.navbar-nav {
  gap: 5px;
  padding: 5px;
  border-radius: 50px;
  background: var(--clr-primary);
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-nav .nav-link {
  padding: 8px 30px !important;
  font-size: 16px;
  font-weight: normal;
  color: var(--clr-white);
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: var(--clr-white);
  background: #5F4A68;
}

.sticky-header {
  background: #241630;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  padding: 15px 0;
}

.head-social {
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-icon {
  width: 32px;
  height: 32px;
  background: var(--clr-primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header end */

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #888;
}

/* Button */

.ThemeBtn {
  border: 0;
  padding: 5px 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 44px;
  background: var(--clr-white);
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  color: var(--clr-dark);
  transition: all 0.3s ease-in-out;
  outline: none;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
  text-transform: uppercase;
  min-width: fit-content;
  white-space: nowrap;
}

.ThemeBtn:hover {
  background: var(--clr-light);
  color: var(--clr-dark);
}

.ThemeBtn i {
  font-size: 16px;
}

.btn-sm {
  font-size: 13px;
  min-height: 32px;
  gap: 5px;
  padding: 5px 10px;
}

.TextBtn {
  border: 0;
  background: transparent;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.TextBtn span {
  text-decoration: underline;
  font-size: 14px;
  text-transform: capitalize;
}

.TextBtn i {
  font-size: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid var(--clr-white);
  transform: rotate(-45deg);

}

.TextBtn:hover {
  color: var(--clr-white);
}

/* Button end */

/* inputs group */

.form-select,
.form-control {
  font-size: 14px;
  min-height: 40px;
  padding: 5px 15px;
  border-radius: 0;
  border: 1px solid var(--clr-border);
  background-color: transparent !important;
}

.form-select:focus,
.form-control:focus {
  box-shadow: none;
  border-color: var(--clr-primary);
}

/* inputs group end */

.custom-space {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title h2 {
  font-size: 40px;
  margin: 0 0 20px;
}

.section-title .ThemeBtn {
  margin-top: 20px;
}

/* scroll top */

#scrollTotop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 25px;
  right: -50px;
  cursor: pointer;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  border: 0;
  outline: none;
  padding: 0;
  background: transparent;
}

#scrollTotop:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 40px;
  background: var(--clr-gray);
  left: -5px;
  border-radius: 50px;
}

#scrollTotop.showscroll {
  right: 25px;
}

.ScrollArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: var(--clr-primary);
  z-index: 99;
  box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
  transition: all 0.3s ease-in-out;
  border: 0;
  outline: none;
  min-width: 30px;
}

.ScrollArrow i {
  font-size: 20px;
  color: var(--clr-white);
}

/* scroll top */


/* welcome Modal  */

#WelcomeModal {
  background: rgb(52 38 66 / 80%);
  backdrop-filter: blur(10px);
}

#WelcomeModal .modal-content {
  background: transparent;
  border: 0;
}

#WelcomeModal .modal-content .modal-body {
  text-align: center;
}

.welcome-modalDetails {}

.welcome-modalDetails .brandLogo {
  margin: 0 0 20px;
}

.welcome-modalDetails .brandLogo img {
  width: 150px;
}

.welcome-modalDetails h5 {
  font-size: 20px;
  margin: 0 0 30px;
  line-height: 28px;
}

.welcome-modalDetails .btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.welcome-modalDetails .btn-row .ThemeBtn {
  min-width: 90px;
}

/* welcome Modal end*/

.swiper-pagination {
  position: unset;
  transform: translateX(0) !important;
  margin: 20px auto 0;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--clr-white);
}

main {
  background: linear-gradient(25deg, rgba(37, 0, 33, 1) 0%, rgba(17, 1, 34, 1) 50%, rgba(0, 24, 27, 1) 100%);
  flex: 1;
  display: flex;
  flex-direction: column;

}

.shortBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  border-radius: 20px;
  background: rgba(32, 1, 34, 0.70) url(../img/page-banner.jpg) center center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.shortBanner h1 {
  font-size: 40px;
  margin: 0;
  font-weight: 600;
}

/* footer */

footer {
  border-top: 1px solid var(--clr-border);
  position: relative;
  margin-top: auto;
}

footer::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 25px;
  width: 200px;
  height: 1px;
  background: #160021;
}

.footer-effectLogo {
  position: absolute;
  top: -100px;
  right: 30px;
  padding: 20px;
}

.footer-effectLogo img {
  width: 150px;
}

footer .container {
  position: relative;
  padding-top: 50px;
}

footer .container::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100px;
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

footer .container::after {
  content: '\f1df';
  font-family: 'Material Icons';
  font-size: 13px;
  position: absolute;
  top: -10px;
  left: 100px;
  width: 20px;
  height: 20px;
  background: #A7581E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-logo img {
  width: 100px;
}

.footer-logo p {
  font-size: 14px;
  margin: 0;
}

.copyright-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 15px 0;
  border-top: 1px solid var(--clr-border);
}

.copyright-info p {
  font-size: 13px;
  margin: 0;
}

.footer-links h6 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 15px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}

.footer-links ul li a {
  font-size: 14px;
  color: var(--clr-light);
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links ul li a:after {
  content: '\f1df';
  font-family: 'Material Icons';
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  transform: translateX(-10px);
  opacity: 0;
}

.footer-links ul li a:hover {
  opacity: 0.7;
}

.footer-links ul li a:hover:after {
  transform: translateX(0);
  opacity: 1;
}

/* verify Modal  */

.modal {
  backdrop-filter: blur(5px);
}

.modal-content {
  border: 0;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 3px;
}

.verifyInfo {
  padding: 40px;
  text-align: center;
  position: relative;
}

.verifyInfo .detailsInfo {
  position: relative;
  z-index: 1;
}

.verifyInfo .IconBox {
  width: 130px;
  margin: 0 auto 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verifyInfo .IconBox img {
  width: 100%;
}

.verifyInfo h2 {
  font-weight: 700;
  font-size: 28px;
  color: var(--clr-dark);
  margin: 0 0 10px;
}

.verifyInfo h5 {
  font-weight: 600;
  font-size: 24px;
  color: var(--clr-dark);
  margin: 0 0 25px;
}

.verifyInfo .ThemeBtn {
  background: var(--clr-primary);
  color: var(--clr-white);
}

.verifyInfo .ThemeBtn:hover {
  opacity: 0.8;
}

.modal-content .btn-close {
  width: 24px;
  height: 24px;
  opacity: 1 !important;
  border-radius: 100%;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  background: #e01c1c;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-content .btn-close:after {
  content: '';
  position: absolute;
  left: 50%;
  top: -15px;
  transform: translateX(-50%);
  background: #e01c1c;
  width: 2px;
  height: 20px;
}

.verifyInfo .errorTitle {
  color: #e01c1c;
}

.modal-content .btn-close i {
  color: var(--clr-white);
  font-size: 14px;
}

/* verify Modal end */